<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @todo.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @todo.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @todo.project %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @todo.creator %>
</p>

<%= link_to 'Edit', edit_project_todo_path(@project, @todo) %> |
<%= link_to 'Back', project_todos_path(@project) %>
